# Gradle
/.gradle
/build

# IDEA
/.idea
/out
/run

# Crash logs
*.log

# Discord Game SDK (include it yourself)
/discord_game_sdk/

*.dll
*.so
*.iml

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
.LSOverride
